.container{
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}
.grid-item{
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 10px;
}